.fondocontacto{

    background-image: url(../images/imagenfondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.iniciocontacto {
    background-color: gray;
   padding-left: 100px;
   margin-top: 10px;
   text-transform: uppercase;
   border-radius: 6px;
    height: 20px;
    width: 80px;
}

.contacto{
    color: rgb(253, 253, 253);
    text-align: center;
    text-transform: uppercase;
}

.grid-container-contacto {
    display: grid;
    border: 2px solid black;
    grid-template-rows: 3;
    grid-template-columns: 3;
    gap: 15px;
}

.grid-item {
    margin-left: 200px;
}