.header-index{
    color: #595331;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background-position: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 30px;
    background-color: burlywood;
}

